itinerary {
  h2 {
    margin: 0;
    background-color: #e4f1f9;
    padding: 10px 15px;
  }
}

.itinerary {
  margin: 0px 30px 0px 30px;
  background-color: #e4f1f9;

  .originDestination {
    margin: 15px 0 15px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(27,27,27,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(27,27,27,0.2);
    box-shadow: 0px 2px 2px 0px rgba(27,27,27,0.2);
  }

  h2 {
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px 30px;
  }

  a {
    text-align: left;
  }

  .place {
    margin: 0;
    padding: 20px 10px;
    background-color: #F0F0F0;
    border-bottom: 1px solid darkgrey;

    .fa-times {
      position: absolute;
      top: 30px;
      right: 50px;
      cursor: pointer;
    }

    &:first-of-type {
      border-top: 1px solid darkgrey;
    }

    .placeName {
      padding-left: 20px;
      padding-bottom: 10px;
      margin-top:0;
    }

    .image {
      text-align: center;
      img {
        height: 200px;
        width: 200px;
        border: 1px solid lightgray;
        background-color: #ffffff;
      }
    }

    a {
      color: #005596;
      text-underline: none;
      background-color: transparent;
      text-decoration: none;
      border: none;
      &:hover, &:active, &:visited {
        color: #003d96;
        text-underline: none;
        background-color: transparent;
        text-decoration: none;
        border: none;
      }
    }

    .editButton {
      text-align: right;
      position: absolute;
      top: 165px;
      height: 100%;
      left: 40%;
    }
  }

  .reviews {
    margin: 0 0 30px 0;
    background-color: #F0F0F0;

    h2 {
      padding-top: 15px;
      padding-left: 20px;
    }

    .iconPhoto {
      margin: 15px;

      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
      }

      a {
        color: black;
        text-underline: none;
        background-color: #F0F0F0;
        text-decoration: none;
        border: none;
        &:hover, &:active, &:visited {
          color: black;
          text-underline: none;
          background-color: #F0F0F0;
          text-decoration: none;
          border: none;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 30px;
      }
    }

    .noReview {
      padding-left: 20px;
      color: darkgrey;
    }
  }
}

.copyright{
  background-color: darkgrey;
  background-size: cover;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 10px;
}
