<h2 style="margin: 0 15px;">Your itineraries</h2>
<div ng-repeat="itinerary in vm.itineraries" class="container-fluid itinerary">
    <div class="row">
        <div class="col-md-12">
            <div class="row originDestination">
                <div class="col-md-6">
                    From: {{itinerary.originPlaceName}}
                </div>
                <div class="col-md-6">
                    To: {{itinerary.destinationPlaceName}}
                </div>
            </div>
            <h2>You will visit</h2>
            <div class="row">
                <div class="col-md-12" ng-repeat="place in itinerary.places">
                    <div class="row place">
                        <div class="image col-md-4" ng-if="place.photo">
                            <img src={{place.photo}}>
                        </div>
                        <div class="image col-md-4" ng-if="!place.photo">
                            <img src="../.././assets/images/NoImageAvailable.png">
                        </div>
                        <div class="col-md-4">
                            <label>Name: </label> {{place.name}} <br>
                            <label>Address: </label> {{place.formatted_address}} <br>
                            <label ng-if="place.formatted_phone_number">Phone:</label> {{place.formatted_phone_number}}<br>
                            <label ng-if="place.website">Website: </label> <a ng-href={{place.website}}>{{place.website}}</a>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <i class="fa fa-times" style="position: absolute; top: 0; right: 0;"></i>
                            </div>
                            <label>Opening Hours:</label>
                            <div ng-repeat="hours in place.openingHours" ng-if="place.openingHours">
                                {{hours}}
                            </div>
                            <div ng-if="!place.openingHours">
                                The opening hours have not been specified.
                            </div>
                            <div class="editButton">
                                <button class="btn btn-primary""><i class="fa fa-pencil-square-o"></i>Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="row reviews">
                        <div class="col-md-12">
                            <h2>Reviews</h2>
                            <div class="row iconPhoto" ng-repeat="review in place.reviews" ng-if="place.reviews">
                                <img ng-src={{review.profile_photo_url}}>
                                <a ng-href={{review.author_url}}>{{review.author_name}}</a>
                                has given this location {{review.rating}} star(s).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>