.itinerary {
  margin: 0 30px 30px 30px;

  .originDestination {
    padding: 25px;
    margin: 25px 0 0 0;
    float: none;
    background-color: #F0F0F0;
  }

  h2 {
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px 30px;
  }
  .place {
    margin: 0;
    padding: 20px 10px;
    background-color: #F0F0F0;
    border-bottom: 1px solid darkgrey;

    &:first-of-type {
      border-top: 1px solid darkgrey;
    }

    .image {
      text-align: center;
      img {
        height: 200px;
        width: 200px;
        border: 1px solid lightgray;
        background-color: #ffffff;
      }
    }

    a {
      color: black;
      text-underline: none;
      background-color: transparent;
      text-decoration: none;
      border: none;
      &:hover, &:active, &:visited {
        color: black;
        text-underline: none;
        background-color: transparent;
        text-decoration: none;
        border: none;
      }
    }

    .editButton {
      text-align: right;
      position: absolute;
      top: 165px;
      height: 100%;
      left: 40%;
    }
  }

  .reviews {
    margin: 0 0 30px 0;
    background-color: #F0F0F0;

    h2 {
      padding-top: 15px;
      padding-left: 20px;
    }

    .iconPhoto {
      margin: 15px;

      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
      }

      a {
        color: black;
        text-underline: none;
        background-color: #F0F0F0;
        text-decoration: none;
        border: none;
        &:hover, &:active, &:visited {
          color: black;
          text-underline: none;
          background-color: #F0F0F0;
          text-decoration: none;
          border: none;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 30px;
      }
    }

    .noReview {
      padding-left: 20px;
      color: darkgrey;
    }
  }
}

.copyright{
  background-color: darkgrey;
  background-size: cover;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 10px;
}
