.login {
  background: #F0F0F0;
  overflow: hidden;
  height: 100vh;

  md-content {
    background: #F0F0F0;
    overflow: hidden;

    form {
      border: 1px solid white;
      -webkit-box-shadow: 14px 14px 48px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 14px 14px 48px 0px rgba(0,0,0,0.75);
      box-shadow: 14px 14px 48px 0px rgba(0,0,0,0.75);
      overflow: hidden;
    }
  }
    .login-register, .login-authenticate {
      background: white;
      margin-top: 25vh;
      margin-bottom: 25vh;
      margin-left:5vw;
      margin-right: 5vw;
      padding: 0 25px 25px 25px;
      color: darkgrey;
      .center-buttons {
        text-align: center;
      }

    .ghost {
      transition: all 0.3s ease-in;
      background: none;
      border: 2px solid darkgrey;
      min-width: 100px;
      font-weight: bold;
      color: darkgrey;
      &:hover {
        transition: all 0.3s ease-in;
        background: darkgrey;
        color: white;
        border: 2px solid darkgrey;
        font-weight: bold;
      }
    }
  }
}