<div class="login" layout="row" ng-cloak>
    <md-content layout="column" flex="50">
        <form name="projectForm" class="login-register">
            <div class="page-header">
                <h1>Register</h1>
            </div>
            <md-input-container class="md-block">
                <label for="createEmail">Add your e-mail</label>
                <input type="text" class="form-control" name="email"  id="createEmail" placeholder="Your email" ng-model="vm.createEmail">
            </md-input-container>
            <md-input-container class="md-block">
                <label for="createPassword">Choose a password</label>
                <input type="password" class="form-control" name="password" id="createPassword" placeholder="Your password" ng-model="vm.createPassword">
            </md-input-container>
            <div class="center-buttons">
                <input type="button" class="ghost btn btn-primary" ng-click="vm.createUser()" value="Create user">
            </div>
        </form>
    </md-content>

    <md-content layout="column" flex="50">
        <form name="projectForm" class="login-authenticate">
            <div class="page-header">
                <h1>Sign in</h1>
            </div>
            <md-input-container class="md-block">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Your email" ng-model="vm.authEmail">
            </md-input-container>
            <md-input-container class="md-block">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Your password" ng-model="vm.authPassword">
            </md-input-container>
            <div class="center-buttons">
                <input type="button" class="ghost btn btn-primary" ng-click="vm.authUser()" value="Sign in">
                <input type="button" class="ghost btn btn-primary" ng-click="vm.googleAuth()" value="Sign in with Google">
            </div>
        </form>
    </md-content>
</div>


